*~
*.aux
*.cp
*.cps
*.fn
*.fns
*.ky
*.kys
*.log
*.pg
*.toc
*.tp
*.vr
*.vrs
/_site/stats/gitstats.cache
/_site/404.html
/_site/about/index.html
/_site/authors/index.html
/_site/css/page.css
/_site/css/screenshot.css
/_site/css/stats.css
/_site/donations/index.html
/_site/index.html
/_site/quotes/index.html
/_site/quotes/quotes.js
/_site/screencasts/index.html
/_site/screenshots/index.html
