body {
  font-family: 'Noto Serif', serif;
  text-align: justify;
  background-color: #fdf6e3;
  color: #586e75;
  max-width: 700px;
  margin: 50px;
  margin-right: auto;
  margin-left: auto;
}

a {
  color: #b58900;
}

a:visited {
  color: #7B6000;
}

a.small {
  font-size: xx-small;
}

h1, h2, h3, h4 {
  font-family: 'Noto Sans', sans-serif;
  text-align: left;
  margin-top: 40px;
  color: #20ab2d;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

header h1 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
}

header img {
  display: block;
  /* margin-left: calc(50% - 244px); */
  margin-left: auto;
  margin-right: auto;
}

img, video {
  box-shadow: 2px 2px 15px #93a1a1;
  margin-top: 10px;
  margin-bottom: 20px;
}

video#gource {
  box-shadow: none;
}

header img, img.clear {
  box-shadow: unset;
  margin-top: 0;
  margin-bottom: 0;
}

/* Used for key bindings */
i {
  background-color: #eee8d5 #93a1a1;
  border-color: #7B6000;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  padding: 0px 5px 1px 5px;
  box-shadow: 1px 1px 5px #93a1a1;
}

code {
  background-color: #eee8d5;
  padding: 2px;
}

blockquote {
  display:block;
  background: #eee8d5;
  padding: 15px 20px 15px 45px;
  margin: 0px;
  margin-bottom: 20px;
  position: relative;
  font-size: 16px;
  line-height: 1.2;
  text-align: left;
  box-shadow: 2px 2px 15px #93a1a1;
}

blockquote::before {
  content: "\201C";
  font-size: 60px;
  font-weight: bold;
  color: #ab2720;
  position: absolute;
  left: 10px;
  top: 5px;
}

div#campaign {
  display: block;
  background: #eee8d5;
  padding: 15px 20px 15px 20px;
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 40px;
  position: relative;
  font-size: 16px;
  line-height: 1.2;
  text-align: justify;
  box-shadow: 2px 2px 15px #93a1a1;
}

div#campaign img {
  box-shadow: unset;
  height: auto;
  width: 100%;
}

div#donate {
  display: block;
  background: #eee8d5;
  padding: 15px 20px 15px 20px;
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 40px;
  position: relative;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  box-shadow: 2px 2px 15px #93a1a1;
}

div#donate a {
  color: #586e75;
}

div#donate div:nth-child(1) a, a.dotted {
  color: #586e75;
  text-decoration-style: dotted;
}

div#donate div:nth-child(2) {
  margin-top: 20px;
  text-align: center;
}

div#donate div:nth-child(3) {
  margin-top: 20px;
  margin-bottom: 35px;
  text-align: center;
}

div#donate div:nth-child(3) img, img.donate {
  box-shadow: unset;
  height: 50px;
  width: auto;
}

div#donate div:nth-child(3) {
  text-align: center;
}
