<!DOCTYPE html>
<html>
  <head>
    <title>It's Magit! {{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="author"      content="Jonas Bernoulli <jonas@bernoul.li>">
    <meta name="description" content="Support Magit Development">
    <meta name="keywords"    content="emacs, git, version control">
    <link rel="icon" href="/assets/magit.ico">
    <link rel="stylesheet" type="text/css" href="/assets/page.css">
    <link class="s-css-s--style" rel="stylesheet"           title="Default"               href="/assets/themes/default.css">
    <link class="s-css-s--style" rel="stylesheet alternate" title="Default high contrast" href="/assets/themes/default-high-contrast.css">
    <link class="s-css-s--style" rel="stylesheet alternate" title="Solarized dark xterm"  href="/assets/themes/solarized-dark-xterm.css">
    <link class="s-css-s--style" rel="stylesheet alternate" title="Black on white"        href="/assets/themes/black-on-white.css">
    <script src="/assets/js/simple-css-switch.js"></script>
    <script src="/assets/js/count.js" async data-goatcounter="https://magit-vc.goatcounter.com/count"></script>
  </head>

  <body onload="simpleCssSwitch()">
    <header>
      <a alt="Magit logo"
         {% if page.home %}
           title="go to manual" href="/manual/magit#Top"
         {% else %}
           title="go home" href="/"
         {% endif %}
         >
      {% if page.logo == "big" %}
        <img src="/assets/magit-400x400px.png">
      {% else %}
        <img src="/assets/magit-168x200px.png">
      {% endif %}
      </a>
      <h1>{{ page.title }}</h1>
    </header>
{{ content }}
  </body>
</html>
