<!DOCTYPE html>
<html>
  <head>
    <title>It's Magit! {{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="author"      content="Jonas Bernoulli <jonas@bernoul.li>">
    <meta name="description" content="Support Magit Development">
    <meta name="keywords"    content="emacs, git, version control">
    <meta name="flattr:id"   content="8dxrrl">
    <link rel="icon" href="/assets/magit.ico">
    <link rel="stylesheet" type="text/css" href="/assets/page.css">
    <link class="s-css-s--style" rel="stylesheet"           title="Default"               href="/assets/themes/default.css">
    <link class="s-css-s--style" rel="stylesheet alternate" title="Default high contrast" href="/assets/themes/default-high-contrast.css">
    <link class="s-css-s--style" rel="stylesheet alternate" title="Solarized dark xterm"  href="/assets/themes/solarized-dark-xterm.css">
    <link class="s-css-s--style" rel="stylesheet alternate" title="Black on white"        href="/assets/themes/black-on-white.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic">
    <script src="/assets/js/simple-css-switch.js"></script>
  </head>

  <body onload="simpleCssSwitch()">
    <header>
      <a alt="Magit logo"
         {% if page.home %}
           title="go to manual" href="/manual/magit#Top"
         {% else %}
           title="go home" href="/"
         {% endif %}
         >
      {% if page.logo == "big" %}
        <img src="/assets/magit-400x400px.png">
      {% else %}
        <img src="/assets/magit-168x200px.png">
      {% endif %}
      </a>
      <h1>{{ page.title }}</h2>
    </header>
{{ content }}
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//tarsius.piwikpro.com/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//tarsius.piwikpro.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <div id="s-css-s--menu"></div>
  </body>
</html>
