<!DOCTYPE html>
<html>
  <head>
    <title>It's Magit! {{ page.title }}</title>
    <meta name="author"      content="Jonas Bernoulli <jonas@bernoul.li>">
    <meta name="description" content="Support Magit Development">
    <meta name="keywords"    content="emacs, git, version control">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/page.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic">
  </head>

  <body>
    <header>
      <a href="/"><img id="M" src="/assets/magit.png"></a>
      <h1>Magit!</h1>
      <h2>{{ page.title }}</h2>
    </header>
{{ content }}
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//tarsius.piwikpro.com/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//tarsius.piwikpro.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
  </body>
</html>
