<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="author"      content="Jonas Bernoulli <jonas@bernoul.li>">
    <meta name="description" content="Support Magit Development">
    <meta name="keywords"    content="emacs, git, version control">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/page.css">
    <link rel="stylesheet" type="text/css" href="/assets/screenshot.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic">
  </head>

  <body>
    <header>
      <a href="/"><img id="M" src="/assets/magit.png"></a>
      <h1>Magit!</h1>
      <h2>{{ page.header }}</h2>
    </header>
{{ content }}
  </body>
</html>
